/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: "SolaimanLipiNormal";
}
body {
    font-family: "Kalpurush";
}
a:hover { text-decoration: none }

/*=================================
    Font Face - Embed Font
==================================*/
@font-face {
  font-family: "Kalpurush";
  src: url("../fonts/kalpurush.eot"); /* IE9 Compat Modes */
  src: url("../fonts/kalpurush.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/kalpurush.otf") format("opentype"), /* Open Type Font */
    url("../fonts/kalpurush.svg") format("svg"), /* Legacy iOS */
    url("../fonts/kalpurush.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/kalpurush.woff") format("woff"), /* Modern Browsers */
    url("../fonts/kalpurush.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SolaimanLipiNormal";
  src: url("../fonts/SolaimanLipi22-02-2012.eot"); /* IE9 Compat Modes */
  src: url("../fonts/SolaimanLipi22-02-2012.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/SolaimanLipi22-02-2012.otf") format("opentype"), /* Open Type Font */
    url("../fonts/SolaimanLipi22-02-2012.svg") format("svg"), /* Legacy iOS */
    url("../fonts/SolaimanLipi22-02-2012.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/SolaimanLipi22-02-2012.woff") format("woff"), /* Modern Browsers */
    url("../fonts/SolaimanLipi22-02-2012.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


.header-overlay-wrap {background-image:url(../img/header-bg.jpg)}
.service-bg, .post-section {background-image:url(../img/services-bg.jpg)}
.header-overlay-wrap:after {
	background: #21196c;
	background: -moz-linear-gradient(-45deg, #21196c 0%, #ddb5c2 99%);
	background: -webkit-linear-gradient(-45deg, #21196c 0%,#ddb5c2 99%);
	background: linear-gradient(135deg, #21196c 0%,#ddb5c2 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21196c', endColorstr='#ddb5c2',GradientType=1 );
}

.header-overlay-wrap {
  position: relative;
  z-index: 1;
}
.header-overlay-wrap:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  opacity: .9;
}


html, body {
  height: 100%;
}
.header-overlay-wrap.full-height {
  height: 100%;
}


.header-area {
  position: relative;
  z-index: 1;
  padding: 20px 0;
}
.header-area:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  content: "";
  background: #fff;
  z-index: ;
  opacity: .09;
}


.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.main-menu li {
  display: inline-block;
}
.main-menu li a {
  display: block;
  color: #fff;
  opacity: .5;
  font-size: 16px;
  padding: 13px;
}
.main-menu li:hover a {
  opacity: 1;
}
.user-account ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.user-account li {
  display: inline-block;
  border: 1px solid #ffffff;
}
.user-account li a {
  display: block;
  color: #fff;
  padding: 13px;
  font-size: 16px;
}

.slider-wrap {
	padding: 3% 0;
}
.slider-text {
  color: #fff;
  padding: 20% 0;
}
.slider-text h2 {
  font-size: 35px;
  font-weight: 100;
  line-height: 1.7;
  margin-bottom: 40px;
}
.slider-text p {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 15px;
  opacity: .6;
}

.logo h2 {
  margin-bottom: 0;
  color: ;
}
.logo h2 a {
  display: inline-block;
  color: #fff;
  font-size: 25px;
  padding: 11px 0;
}

/* Service Section */

.service-bg, .post-section {
  position: relative;
  z-index: 1;
  background-position: center;
  background-size: cover;
  background-color: #ddd;
}
.service-bg:after, .post-section:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  opacity: .85;
  background-color: #FFFFFF;
}

.section-padding {
  padding: 75px 0;
}
.service-title {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #34296C;
}
.common-servce-icon {
  text-align: center;
  display: block;
  color: #34296C;
  padding: 20px;
  min-height: 200px;
  margin-bottom: 10px;
}
.service-icom-table {
  display: table;
  width: 100%;
  height: 80px;
  color: #34296C;
  font-size: 55px;
}
.service-icon-tablecell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Post Section  */

.post-box-bg-1{background-image:url(../img/post-box-bg-1.jpg) }
.post-box-bg-2{background-image:url(../img/post-box-bg-2.jpg) }
.post-box-bg-3{background-image:url(../img/post-box-bg-3.jpg) }

section.section-padding {
    padding: 100px 0;
}
.section-title {
    color: #34296C;
    font-size: 18px;
    margin-bottom: 60px;
    text-align: center;
}

.section-title h2 {
    padding-bottom: 22px;
    position: relative;
}
.section-title h2::after {
    background: #ff9114 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -45px;
    position: absolute;
    width: 90px;
}
.section-title p {
    position: relative;
}
.section-title p::after {
    background: #1D282E none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    width: 30px;
    margin-top:-17px
}

h2 {
    font-size: 32px;
}

.post-box-bg {
    background-position: center center;
    background-size: cover;
    border: 1px solid #34296C;
    height: 200px;
}
.post-box-bg {
    border-bottom: 0 solid;
}
.post-box-content {
    border: 1px solid #34296C;
    padding: 20px;
    transition:.3s;
	color: #34296C;
}
.post-meta {
    font-size: 14px;
}
.post-meta span{
    margin-right: 10px;
}
.post-meta i.fa {
    color: #34296C;
}
.post-meta a {
    color: #34296C;
}
body {
    font-size: 17px;
}

.post-box-content h3 {
    font-size: 20px;
	margin-top: 15px;
}
.post-readmore-btn {
    background: #34296C none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition:.2s
}
.post-readmore-btn:hover {
    background: #333 none repeat scroll 0 0;
    color: #fff;
}
.single-post-box:hover .post-box-content {
    border-color: #000;
}

/* Footer Section */


.footer-section h4 {
  font-size: 18px;
  color:#fff;
}
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.9;
}
.footer-section {
  background-color: #34296C;
}
.footer-section ul li a {
  display: block;
  color: #999;
  font-size: 16px;
  font-weight: 500;
}






.login-form {
  position: relative;
  width: 100%;
  padding: 40px 60px;
  text-align: center;
}
.login-form::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: #000000;
	opacity: 0.67;
	z-index: -1;
}
.login-form input, .login-form p textarea {
  width: 100%;
  background: no-repeat;
  color: #fff;
  border: none;
  border-bottom: 1px solid #C4BCD0;
  margin-bottom: 15px;
}

.login-form p textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #C4BCD0;
  margin-top: 25px;
}

.gender input {
  width: auto;
  margin-right: 10px;
}
.gender label {
  color: #C4BCD0;
  font-weight: 400;
}
.gender {
  text-align: left;
  margin-top: 10px;
  color: #C4BCD0;
}

.gender input[type="radio"] {
  background-color: none;
}
.gender input[type="date"] {
  color: #BDAAB2;
  border: 1px solid #C4BCD0;
  text-transform: uppercase;
  text-align: right;
}

.gender input[type="submit"] {
  background-color: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid #C4BCD0;
  border-left: 1px solid #C4BCD0;
  border-right: 1px solid #C4BCD0;
  color: #C4BCD0;
  margin-top: 20px;
}
